* {
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 20px;
}
body a {
  color: #000;
  text-decoration: none;
}
body .input {
  position: relative;
  font-size: 0.875rem;
  margin: 0 auto;
  width: 36rem;
}
@media only screen and (max-width: 1024px) {
  body .input {
    width: 75%;
  }
}
body .input input.text {
  width: 100%;
  border: #000 solid 2px;
  height: 2rem;
  outline: none;
  font-size: 1rem;
  padding: 0 0.5rem;
}
body .input .icon {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}
body .input #search-results {
  background-color: #fff;
  display: none;
  position: absolute;
  border: #000 solid 2px;
  border-top: none;
  width: 100%;
  padding: 0.25rem 0.5rem;
}
body .input #search-results .search-result {
  cursor: pointer;
  display: block;
}
body .input #search-results .search-result:hover {
  background-color: #d3d3d3;
}
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
body nav .input {
  margin: 0;
}
body header {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
body header h1 {
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  body header h1 {
    font-size: 24px;
  }
}
body main {
  padding: 20px 100px 50px;
}
@media only screen and (max-width: 1024px) {
  body main {
    padding: 20px 50px 50px;
  }
}
body main .law {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px dashed #d3d3d3;
}
body main .text-center {
  text-align: center;
  text-indent: 0;
}
body main p {
  text-align: justify;
  text-indent: 2em;
}
