- var baseUrl = "/labor-laws"

doctype html
html(lang='zh')
	block frontmatter
	head 
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title #{title}
		link(rel='icon' href=`${baseUrl}/assets/images/favicon.png` sizes='any')
		link(rel='stylesheet' href=`${baseUrl}/assets/css/main.css`)
	body
		h1= title
		main
			block content
