extends partials/layout.pug

mixin act(title, href)
  .act 
    a(href=href)= title

block frontmatter
  - var title = "劳动保障监察法律法规"

block content 
  +act("中国人民共和国劳动法", "./content/labor-act.html")
  +act("中国人民共和国劳动合同法", "./content/contract-of-employment-act.html")

